html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  cursor: pointer;
}

body {
  background-color: #E5E5E5;
  font-family: "Inter", sans-serif;
}

button, input {
  font-family: "Inter", sans-serif;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.rightSide {
  width: 420px;
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.3);
          box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rightSide .cart_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  padding-bottom: 0;
}
.rightSide .cartTotalBlock {
  padding: 20px;
}
.rightSide .cartTotalBlock li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 8px;
  margin: 30px;
  margin-bottom: 0;
}
.rightSide .cartTotalBlock li span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.rightSide .cartTotalBlock li div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px dashed #DFDFDF;
  position: relative;
  top: -5px;
}
.rightSide .cartTotalBlock b {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.rightSide .cartTotalBlock button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  background: #9DD558;
  border-radius: 18px;
  padding: 21px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.rightSide .cartTotalBlock button:hover {
  background: limegreen;
}
.rightSide .cartTotalBlock button:hover img {
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}
.rightSide .cartTotalBlock button img {
  position: absolute;
  right: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.Items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

.cartItem {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 325px;
  gap: 15px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  margin: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.cartItem:hover {
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  border: 1px solid #F8F8F8;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.cartItem button {
  padding: 8px;
}
.cartItem b {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-top: 8px;
}

.cart_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

button {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 95;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  padding-top: 43px;
  padding-left: 45px;
  padding-right: 65px;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header_logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header .header_logotype .header_logotype_info h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.header .header_logotype .header_logotype_info p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;
}
.header .header_info .header_info_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header .header_info .header_info_list .first__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header .header_info .header_info_list .first__item span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #5C5C5C;
}

.content .content_info {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 36px;
}
.content .content_info h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
.content .content_info label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .content_info label img {
  position: absolute;
  padding-left: 20px;
}
.content .content_info label input {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  padding: 15px 45px;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #C4C4C4;
  width: 200px;
}
.content .card {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  padding: 30px;
  width: 150px;
  max-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.content .card button {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
.content .card:hover {
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  border: 1px solid #F8F8F8;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.content .card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;
}
.content .card .favorite {
  position: absolute;
  cursor: pointer;
}
.content .card button {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
.content .card .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .card .price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
.content .card .price span {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #BDBDBD;
}
.content .card .price b {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.content .content_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .content_items .like {
  background: #FFFFFF;
  border: 1px solid #F8F8F8;
  border-radius: 7px;
}/*# sourceMappingURL=index.css.map */