.Items{
  flex: 1;
  overflow: auto;
}

.cartItem{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 325px;
  gap: 15px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  margin: 30px;
  transition: 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
    border: 1px solid #F8F8F8;
    transform: translateY(-5px);

  }


  button{
    padding: 8px;
  }


  b{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 8px;

  }
}

.cart_name{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;

}

button {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}





.overlay {
  //position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 95;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;



}
.overlayVisible {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;


  .rightSide {
    transform: translateX(0);

  }
}

.cartTotalBlock{
  padding: 20px;
  li {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin: 30px;
    margin-bottom: 0;

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;

    }

    div {
      flex: 1;
      border-bottom: 1px dashed #DFDFDF;
      position: relative;
      top: -5px;


    }



    button {
      width: 32px;
      height: 32px;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      border-radius: 8px;
      box-sizing: border-box;
      cursor: pointer;
    }



  }

  b {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    background: #9DD558;
    border-radius: 18px;
    padding: 21px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    transition: 0.3s ease-in-out;

    &:hover{
      background: limegreen;
    }
    &:hover img {
      transform: translateX(7px);
    }

    img {
      position: absolute;
      right: 40px;
      transition: 0.3s ease-in-out;

    }

  }

}

.rightSide {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  width: 420px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;

  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;

  .cart_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-bottom: 0;
  }
}

.rightSide{




  .centerCart{
    margin-top: 100px;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h3 {
      font-weight: 600;
      padding-top:21px;
      padding-bottom: 9px;
      font-size: 22px;
      line-height: 27px;
      color: #000000;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      opacity: 0.4;
      padding-bottom: 40px;
    }

    .emptyBtn{
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
      background: #9DD458;
      border-radius: 18px;
      width: 245px;
      padding-top: 15px;
      padding-bottom: 33px;
      padding-left: 25px;
      padding-right: 10px;
      transition: transform 0.3s ease-in-out;
      position: relative;

      &:hover img{
        transform: translateX(-5px);


      }
      img {
        position: absolute;
        left: 20px;
        transition: 0.3s ease-in-out;


      }
    }



  }

}

